.gridContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem; /* gap-6 */
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* gap-6 */
}

.loadingMessage, .errorMessage {
    text-align: center;
    padding: 1rem;
    font-size: 1.125rem;
}

.errorMessage {
    color: #ef4444; /* text-red-500 */
}

@media (min-width: 640px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .gridContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}
